{% extends 'base.html.twig' %}

{% block title %}Configuración{% endblock %}

{% block page_name %}
    <div class="col-md-6">Configuración</div>
{% endblock %}

{% block stylesheet %}
    <style>
        .img-file a, .form-check-label, #system_imageFile_delete {
            display: none!important;
        }
    </style>
{% endblock %}


{% block main_content %}
    <div class="card card-primary container-fluid">
        {{ form_start(form, { attr: {class: 'submit-p-form'} }) }}
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    {{ form_row(form.pagename, { attr: {'autocomplete': 'off'} } ) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.winproduct, { attr: {'autocomplete': 'off'} } ) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.winservice, { attr: {'autocomplete': 'off'} } ) }}
                </div>
                <div class="col-md-2 img-file" style="margin-top: -6px">
                    {{ form_row(form.imageFile, { attr: {'autocomplete': 'off'} } ) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.submit, {attr:{text: 'Actualizar', class: 'btn-primary btn-block submit-p-btn', style: 'margin-top: 32px!important'}}) }}
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        <!-- /.card-body -->
    </div>
{% endblock %}

