{% extends 'base.html.twig' %}

{% block title %}
    Nueva Factura
{% endblock %}

{% block page_name %}
    Nueva Factura
{% endblock %}

{% block main_content %}
    <div class="card card-primary container-fluid">
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 mb-3 pr-lg-5 pl-lg-5">
                    <label class="d-block">Cliente</label>
                    <div class="input-group">
                        <input id="id_cliente_input" class="form-control" required="" autocomplete="off" name="cliente_name">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#modal-cliente"><i
                                        class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    {{ form_row(form.id_cliente) }}
                </div>
                <div class="col-lg-6 mb-3 pr-lg-5 pl-lg-5">
                    <label>Teléfono</label>
                    <input type="tel" class="form-control" id="cliente_telefono" name="telefono_name">
                </div>
                <div class="col-lg-6 mt-3 mt-lg-0 pr-lg-5 pl-lg-5">
                    <div class="input-group">
                        <label class="form-control">Productos</label>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#modal-xl"><i
                                        class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <ul class="list-group mt-2 mb-3">
                        <li class="list-group-item border-top-0 border-left-0 border-right-0">First item</li>
                        <li class="list-group-item border-top-0 border-left-0 border-right-0">Second item</li>
                        <li class="list-group-item border-top-0 border-left-0 border-right-0">Third item</li>
                    </ul>
                </div>
                <div class="col-lg-6 mt-3 mt-lg-0 pr-lg-5 pl-lg-5">
                    <div class="input-group">
                        <label class="form-control">Servicios</label>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#modal-xl"><i
                                        class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <ul class="list-group mt-2 mb-3">
                        <li class="list-group-item border-top-0 border-left-0 border-right-0">First item
                            <button type="button" class="btn btn-outline-danger btn-xs float-right"
                                    style="min-width: 30px"><i class="fas fa-minus"></i>
                            </button>
                        </li>
                        <li class="list-group-item border-top-0 border-left-0 border-right-0">Second item</li>
                        <li class="list-group-item border-top-0 border-left-0 border-right-0">Third item</li>
                    </ul>
                </div>
                <div class="col-3 m-auto pt-5">
                    {{ form_row(form.submit, {attr:{class: 'btn-primary btn-block', style: 'margin-top: 32px!important'}}) }}
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        <!-- /.card-body -->
    </div>
    <div class="modal fade" id="modal-cliente" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Buscar Cliente</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Buscar</label>
                    <input type="text" id="client_datalist_input" class="form-control" autocomplete="off"
                           onkeyup="getClient(event)" value="">
                    <br>
                    <label>Selecciona un resultado</label>
                    <select id="client_datalist" class="form-control">
                        <option value='null'>Sin resultados</option>
                    </select>
                    <button type="button" class="btn btn-primary float-right mt-3" data-dismiss="modal"
                            onclick="aceptarClient()">Aceptar
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('dist/js/actions.js') }}"></script>
    <script src="{{ asset('plugins/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('plugins/users.js') }}"></script>
{% endblock %}