{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('plugins/datatables/datatables.min.css') }}">
{% endblock %}


{% block title %}
    Taller
{% endblock %}

{% block page_name %}
    Taller
{% endblock %}

{% block main_content %}
    <a type="button" class="btn btn-primary mb-3" href="{{ path('app_factura') }}">
        Nueva Factura
    </a>
    <div class="card card-primary container-fluid">
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                    <tr class="text-center">
                        <th width="11%">Marca</th>
                        <th width="11%">Modelo</th>
                        <th width="11%">Serie</th>
                        <th width="11%">Precio_Compra</th>
                        <th width="11%">Precio_Venta</th>
                        <th width="11%">Ganancia</th>
                        <th width="11%">Cantidad</th>
                        <th width="23%">Acciones</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr class="text-center">
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Serie</th>
                        <th>Precio_Compra</th>
                        <th>Precio_Venta</th>
                        <th>Ganancia</th>
                        <th>Cantidad</th>
                        <th>Acciones</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for item in data %}
                        <tr class="text-center">
                            <td>{{ item.marca }}</td>
                            <td>{{ item.modelo }}</td>
                            <td>{{ item.serie }}</td>
                            <td>{{ item.precioC }}</td>
                            <td>{{ item.precioV }}</td>
                            <td>{{ item.ganancia }}</td>
                            <td>{{ item.cantidad_taller }}</td>
                            <td class="text-center">
                                <a href="{{ path('app_inventario_add_taller', {'id': item.id}) }}"><input
                                            class="btn-sm btn-secondary mr-1 ml-1 mb-1 border-0" type="button"
                                            value="Trasladar"
                                            style="width: 80px"></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('dist/js/actions.js') }}"></script>
    <script src="{{ asset('plugins/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('plugins/users.js') }}"></script>
{% endblock %}
