{% extends 'base.html.twig' %}

{% block title %}
    Clientes
{% endblock %}

{% block page_name %}
    Clientes
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('plugins/datatables/datatables.min.css') }}">
{% endblock %}


{% block main_content %}
    <div class="card card-primary container-fluid">
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    {{ form_row(form.name, { attr: {'autocomplete': 'off'} } ) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.tell, { attr: {'autocomplete': 'off'} } ) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.add, {attr:{class: 'btn-primary btn-block', style: 'margin-top: 32px!important'}}) }}
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        <!-- /.card-body -->
    </div>
    <div class="card card-primary container-fluid">
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                    <tr class="text-center">
                        <th width="25%">Nombre</th>
                        <th width="25%">Teléfono</th>
                        <th width="25%">Descuento</th>
                        <th width="25%">Acciones</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr class="text-center">
                        <th width="25%">Nombre</th>
                        <th width="25%">Teléfono</th>
                        <th width="25%">Descuento</th>
                        <th width="25%">Acciones</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for client in data %}
                        <tr class="text-center">
                            <td>{{ client.name }}</td>
                            <td>{{ client.tell }}</td>
                            <td>{{ client.descuento }}</td>
                            <td class="text-center">
                                <a href="tel:{{ client.tell }}"><input
                                            class="btn-sm btn-info mr-1 ml-1 mb-1 border-0" type="button"
                                            value="Llamar"
                                            style="width: 80px"></a>
                                <a href="{{ path('app_client_edit', {'id': client.id}) }}"><input
                                            class="btn-sm btn-secondary mr-1 ml-1 mb-1 border-0" type="button"
                                            value="Editar"
                                            style="width: 80px"></a>
                                <input class="btn-sm btn-danger mr-1 ml-1 mb-1 border-0" type="button"
                                       value="Eliminar"
                                       style="width: 80px" onclick="delClient({{ client.id }}, '{{ client.name }}')">
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('dist/js/actions.js') }}"></script>
    <script src="{{ asset('plugins/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('plugins/users.js') }}"></script>
{% endblock %}