{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('plugins/datatables/datatables.min.css') }}">
{% endblock %}

{% block title %}
    Productos
{% endblock %}

{% block page_name %}
    Productos
{% endblock %}

{% block main_content %}
    <div class="card card-primary container-fluid">
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.marca, { attr: {'autocomplete': 'off'} } ) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.modelo, { attr: {'autocomplete': 'off'} } ) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.serie, { attr: {'autocomplete': 'off'} } ) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.precioC, { attr: {'autocomplete': 'off','onkeyup':'ganancia()'} } ) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.precioV, { attr: {'autocomplete': 'off','onkeyup':'ganancia()'} } ) }}
                </div>
                <div class="col-md-4">
                    <label>Ganancia</label>
                    <label id="auto-ganacias" class="form-control"></label>
                </div>
                <div class="col-md-4 m-auto">
                    {{ form_row(form.submit, {attr:{class: 'btn-primary btn-block', style: 'margin-top: 32px!important'}}) }}
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        <!-- /.card-body -->
    </div>
    <div class="card card-primary container-fluid">
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-striped" width="100%" cellspacing="0">
                    <thead>
                    <tr class="text-center">
                        <th width="13%">Marca</th>
                        <th width="13%">Modelo</th>
                        <th width="13%">Serie</th>
                        <th width="13%">Precio_Compra</th>
                        <th width="13%">Precio_Venta</th>
                        <th width="13%">Ganancia</th>
                        <th width="22%">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data %}
                        <tr class="text-center">
                            <td>{{ item.marca }}</td>
                            <td>{{ item.modelo }}</td>
                            <td>{{ item.serie }}</td>
                            <td>{{ item.precioC }}</td>
                            <td>{{ item.precioV }}</td>
                            <td>{{ item.ganancia }}</td>
                            <td class="text-center">
                                <a href="{{ path('app_item_transf', {'id': item.id}) }}"><input
                                            class="btn btn-sm btn-default mr-1 ml-1 mb-1" type="button"
                                            value="Añadir"
                                            style="width: 80px"></a>
                                <a href="{{ path('app_items_edit', {'id': item.id}) }}"><input
                                            class="btn btn-sm btn-default mr-1 ml-1 mb-1" type="button"
                                            value="Editar"
                                            style="width: 80px"></a>
                                <input class="btn btn-sm btn-default mr-1 ml-1 mb-1" type="button"
                                       value="Eliminar"
                                       style="width: 80px"
                                       onclick="delItem('{{ item.id }}', '{{ item.marca }}', '{{ item.modelo }}')">
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('dist/js/actions.js') }}"></script>
    <script src="{{ asset('plugins/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('plugins/users.js') }}"></script>
{% endblock %}