{% extends 'base.html.twig' %}

{% block title %}
    Trasladar a Taller
{% endblock %}

{% block page_name %}
    Trasladar a Taller
{% endblock %}

{% block main_content %}
    <div class="card card-primary container-fluid">
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <label class="">Cantidad en Inventario</label><label class="form-control">{{ cantidad_actual }} </label>
                </div>
                <div class="col-md-4">
                    {{ form_row(form.cantidad_taller, { attr: {'autocomplete': 'off'} } ) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.add, {attr:{text: 'Actualizar', class: 'btn-primary btn-block', style: 'margin-top: 32px!important'}}) }}
                </div>
                <div class="col-md-2">
                    <a href="{{ path('app_inventario') }}"><input class="btn btn-danger btn-block" type="button"
                                                             value="Cancelar" style="margin-top: 32px!important"></a>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        <!-- /.card-body -->
    </div>
{% endblock %}